/* Browser reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    line-height: 1.15;
    /* -webkit-text-size-adjust: 100%; */
}

.page {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
	padding: 15px;
}

.section {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.menu {
  /* background-color: #5995DA; */
  display: false;
  visibility: none;
}

.dial {
  /* background-color: lightyellow; */
  height: 90vmin;
  width: 100%;
  min-height: 150px;
}

.extra { 
  /* background-color: #EAEDF0; */
  align-content: flex-start;
} 
.info {
  /* background-color: #EAEDF0; */
}
.section > div, button {
  margin: 10px;
}
.powers {
  /* background-color: #F5CF8E; */
}
.text {
  color: #333;
  width: 100%;
  padding: 5px;
  /* background-color: #F09A9D; */
  display: block;
  height: auto;
  font-size: 0.8em;
}

.reading {
  font-family: monospace;
}

#power {
  width: 3em;
  text-align: center;
}

/* mobile styles */
@media only screen and (max-width: 400px) {
  body {
    /* background-color: #F09A9D; */
  }
}

/* tablet styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    /* background-color: #F5CF8E; */
  }
  .info,
  .powers {
    width: 50%;
  }
}

/* Desktop styles */
@media only screen and (min-width: 961px) {
  body {
    /* background-color: #B2D6FF; */
  }

  .dial {
    height: 90vmin;
    width: 90vmin;
  }

  .page {
    /* width: 960px; */
    margin: 0 auto;
  }

  .dial {
    width: 50%;
  }

  .extra{
    width: 50%;
  }
}





svg{
  stroke: #000;
  font-family: "Merriweather", serif;
}

.tick{
  stroke-width:1;
  fill:#000;	
}

.label {
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
}

.minor-label {
  font-size: 10px;
}

.origin-label {
  font-size: 25px;
}

.special-label {
  font-size: 10px;
}

.edge {
  stroke-width:1;
  fill: GhostWhite;
  z-order: -2;
}

.indicator {
  stroke-width: 1;
  stroke: firebrick;
  opacity: 0.75;
  z-order: 3;
}

.animate {
  transition: transform 0.2s ease-in;
}

.hand {
  stroke-width: 1;
  stroke: firebrick;
  opacity: 0.75;
  z-order: 5;
}

.hand-overlay {
  opacity: 100;
  stroke: firebrick;
  fill: firebrick;
  stroke-linecap:round;
  z-order: 6;
}

.hand-back {
  stroke-width: 2;
  opacity: 100;
  stroke: firebrick;
  fill: firebrick;
  stroke-linecap:round;
  z-order: 7;
}

#main {
  height: 100vh;
  width: 100vw;
  padding: 0 auto;
}

#nums {
  font-family: monospace;
  position: absolute;
  right: 0;
  top: 0;
}

#description {
  color: #333;
}

.history-chevron {
  stroke: #777;
  stroke-width: 2;
  fill: none;
}

.history-marker {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

